@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/PlayfairDisplay-Medium.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.text-underline {
    text-decoration-line: underline;
}

body {
    background: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
    color: #000;
    font-style: normal;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

section {
    margin-bottom: 150px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 16px 20px 16px 23px;
    max-width: 1397px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    flex: 1 0 0;
}

.header-logo {
    font-family: 'PlayfairDisplay';
    font-weight: 600;
    font-size: 86px;
    line-height: 120%;
}

.header-list__item {
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.container-intro {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 136px 0 134px;
    background-image: url('../images/intro\ background.jpg');
}

.intro-background-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    padding: 110px 65px;
    width: 690px;
    background-color: #FFF;
    text-align: center;
}

.intro-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 120%;
}

.intro-subtitle {
    display: flex;
    align-items: start;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.biography {
    display: flex;
    justify-content: center;
    align-items: start;
}

.biography-image {
    max-width: 571px;
}

.biography-image img {
    width: 100%;
}

.biography-subtitle {
    width: 115px;
    transform: rotate(-90deg);
    padding: 29px 0px 87px 0px;
}

.biography-content {
    display: flex;
    width: 455px;
    padding: 18px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    margin-top: 174px;
}

h4 {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
}

.biography-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: normal;
}

.biography-text {
    display: flex;
    flex-direction: column;
    color: #0D0D0D;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

#rectangle {
    width: 20px;
    height: 6px;
    background: #0D0D0D;
}

.biography-blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    max-width: 468px;
    color: #0D0D0D;
    font-family: "Bitter";
    font-size: 26px;
    font-weight: 400;
}

#designers {
    overflow-x: auto;
}

.designers {
    max-width: 1420px;
    width: 100%;
}


.designers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding-top: 54px;
}


.designers-list__item-image {
    padding-bottom: 24px;
    height: 538px;
    display: flex;
    align-items: end;
}

.jess-wonder-text {
    padding-left: 239px;
}

.designers-list__item-title {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.designers-text span {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
}

.designers-text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}


.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonials-content-1 {
    display: block;
}

.testimonials-list {
    margin-left: -118px;
    display: grid;
    height: 100%;
    width: 118px;
    align-content: space-around;
    gap: 70px;
}

.testimonials-list__item-1 {
    /*padding: 49px 20px 0px 0px;*/
    transform: rotate(-90deg);
}

.testimonials-list__item-2 {
    /*padding: 41px 0px 0px 0px;*/
    transform: rotate(-90deg);
}

.testimonials-list__item-3 {
    /* padding: 41px 0px 0px 30px;*/
    transform: rotate(-90deg);
}


.testimonials-list span {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.testimonials-image-big {
    position: relative;
    padding-left: 118px;
    max-width: 569px;
    height: 760px;
    width: 100%;
    background-position: 118px center;
    background-repeat: no-repeat;
    background-size: cover;
}



.testimonials-subtitle {
    position: absolute;
    top: 50px;
    transform: rotate(-90deg);
    right: 0px;
    /* display: grid; */
    height: 40px;
    /* grid-column: 4 / 5; */
    /* padding-left: 24px; */
    margin-right: -112px;
}


.testimonials-content-2 {
    display: grid;
}

.testimonials-content {
    align-self: center;
    justify-self: center;
}

.testimonials-blockquote {
    text-align: center;
    margin-bottom: 42px;
    width: 221px;
    height: 304px;
    font-family: "Bitter";
    font-size: 32px;
    font-weight: 400;
}

#Strong-points {
    overflow-x: auto;
}

.Strong-points {
    display: flex;
    gap: 21px;
}

.Strong-points-subtitle h4 {
    padding-bottom: 30px;
    padding-left: 238px;
}

.Strong-points-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 100%;
}

.Strong-points-content-list__item {
    font-family: "Bitter";
    font-size: 34px;
    font-weight: 400;
}

.footer {
    background-color: #000;
}

.footer-address__link {
    color: var(--White, #FFF);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.footer-logo {
    color: var(--White, #FFF);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.footer-logo span {
    font-size: 24px;
    font-weight: 900;
}

.footer-copyright {
    color: var(--White, #FFF);
    text-align: right;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}