@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/PlayfairDisplay-Medium.ttf') format('ttf');
}

@font-face {
    font-display: swap;
    font-family: 'PlayfairDisplay', serif;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.text-underline {
    text-decoration-line: underline;
}

body {
    background: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: normal;
    margin: 0 auto;
    color: #000;
    font-style: normal;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

section {
    margin-bottom: 150px;
}

h4 {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 16px 20px 16px 23px;
    max-width: 1397px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    flex: 1 0 0;
}

.header-logo {
    font-family: 'PlayfairDisplay';
    font-weight: 600;
    font-size: 86px;
    line-height: 120%;
}

.header-list__item {
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.container-intro {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 136px 0 134px;
    background-image: url('../images/intro\ background.jpg');
}

.intro-background-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    padding: 110px 65px;
    width: 690px;
    background-color: #FFF;
    text-align: center;
}

.intro-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 120%;
}

.intro-subtitle {
    display: flex;
    align-items: start;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.section--background {
    display: none;
    background-image: url('../images/Mobile\ intro\ background.jpg');
    height: 382px;
    background-position: bottom;
}

.biography {
    display: flex;
    align-items: start;
}

.biography-image img {
    width: 100%;
    padding-left: 118px;
}

.biography-subtitle {
    transform: rotate(-90deg);
    padding: 29px 0px 57px 0px;
}

.biography-content {
    display: flex;
    justify-content: center;
    align-self: center;
}

.biography-content-block {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.biography-title {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: normal;
}

.biography-text {
    color: #0D0D0D;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.biography-list {
    display: flex;
}

.biography-list li:nth-child(n+2):before {
    content: "/ ";
}

#rectangle {
    width: 20px;
    height: 6px;
    background: #0D0D0D;
}

.biography-blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    max-width: 468px;
    color: #0D0D0D;
    font-family: "Bitter";
    font-size: 26px;
    font-weight: 400;
}

#designers {
    overflow-x: auto;
}

.designers {
    max-width: 1420px;
    width: 100%;
}


.designers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding-top: 54px;
}


.designers-list__item-image {
    padding-bottom: 24px;
    height: 538px;
    display: flex;
    align-items: end;
}

.jess-wonder-text {
    padding-left: 239px;
}

.designers-list__item-title {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.designers-text span {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
}

.designers-text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}


.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonials-content-1 {
    display: block;
}

.testimonials-list {
    margin-left: -118px;
    display: grid;
    height: 100%;
    width: 118px;
    align-content: space-around;
    gap: 70px;
}

.testimonials-list__item-1 {
    transform: rotate(-90deg);
}

.testimonials-list__item-2 {
    transform: rotate(-90deg);
}

.testimonials-list__item-3 {
    transform: rotate(-90deg);
}


.testimonials-list span {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.testimonials-image-big {
    position: relative;
    padding-left: 118px;
    max-width: 569px;
    height: 760px;
    width: 100%;
    background-position: 118px center;
    background-repeat: no-repeat;
    background-size: cover;
}



.testimonials-subtitle {
    position: absolute;
    top: 50px;
    transform: rotate(-90deg);
    right: 0px;
    height: 40px;
    margin-right: -112px;
}


.testimonials-content-2 {
    display: grid;
}

.testimonials-content {
    align-self: center;
    justify-self: center;
}

.testimonials-blockquote {
    text-align: center;
    margin-bottom: 42px;
    width: 221px;
    height: 304px;
    font-family: "Bitter";
    font-size: 32px;
    font-weight: 400;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 66 version
*/

#strong-points {
    width: 100%;
    overflow-x: auto;
}

.strong-points {
    white-space: nowrap;
}

.strong-points-image {
    display: inline-block;
    padding-right: 20px;
}

#strong-points-image-3 {
    padding: 0px;
}

.strong-points-content-list {
    text-align: center;
}

.strong-points-content-item {
    display: inline-block;
    position: relative;
    bottom: 36px;
    padding-right: 20px;
}

.strong-points-image img {
    height: 555px;
}

.strong-points-subtitle h4 {
    padding-bottom: 30px;
    padding-left: 238px;
}

.strong-points-title {
    padding: 0px 37px 28px 37px;
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 500;
    line-height: 100%;
}

.strong-points-content-list-item {
    font-family: "Bitter";
    font-size: 34px;
    font-weight: 400;
}

.footer {
    background-color: #000;
}

.footer-address__link {
    color: var(--White, #FFF);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.footer-logo {
    color: var(--White, #FFF);
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.footer-logo span {
    font-size: 24px;
    font-weight: 900;
}

.footer-copyright {
    color: var(--White, #FFF);
    text-align: right;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

@supports ((display: -ms-grid) or (display: grid)) and (display: flex) {
    .strong-points-content-list {
        display: -ms-grid;
        display: grid;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .strong-points {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .strong-points-content-item {
        bottom: 0px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-inner {
        flex-direction: column;
        gap: 10px;
        padding: 16px;
    }

    .header-list {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;
    }

    .header-logo {
        font-size: 60px;
    }

    .header-list__item {
        font-size: 18px;
    }

    .container {
        padding: 0 10px;
    }

    .intro {
        padding: 100px 0 100px;
    }

    .intro-background-block {
        padding: 80px 40px;
        width: auto;
    }

    .intro-title {
        font-size: 60px;
    }

    .intro-subtitle {
        font-size: 16px;
    }

    .biography {
        flex-direction: column;
        align-items: center;
    }

    .biography-image {
        max-width: 100%;
    }

    .biography-subtitle {
        transform: none;
        padding: 0;
    }

    .biography-content {
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }

    .biography-title {
        font-size: 60px;
    }

    .biography-text {
        font-size: 16px;
    }

    #rectangle {
        display: none;
    }

    .biography-blockquote {
        max-width: 100%;
        font-size: 20px;
    }


    .designers-list__item-image {
        padding-bottom: 12px;
    }

    .designers-list__item-title {
        font-size: 14px;
    }

    .designers-text span {
        font-size: 14px;
    }

    .designers-text {
        font-size: 14px;
    }

    .footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-address {
        text-align: center;
    }

    .footer-logo {
        font-size: 16px;
        font-weight: 500;
    }

    .footer-logo span {
        font-size: 20px;
        font-weight: 900;
    }

    .footer-copyright {
        text-align: center;
    }

}

@media only screen and (max-width: 451px) {
    .header-inner {
        visibility: hidden;
        display: none;
    }

    .container-intro {
        display: flex;
        flex-direction: column;
    }

    .section--background {
        display: block;
    }

    .intro {
        background-image: none;
        height: 344px;
    }

    section {
        margin-bottom: 0px;
    }

    .intro-title {
        font-size: 70px;
        font-weight: 400;
        line-height: 93.31px;
    }

    .intro-subtitle {
        font-size: 18px;
        line-height: 21.09px;
    }

    .biography {
        flex-direction: column-reverse;
        position: relative;
    }

    .biography-image img {
        width: 100%;
        padding-left: 0px;
    }

    .biography-subtitle {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.09px;
        text-align: left;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
    }

    .biography-content-block {
        display: flex;
        flex-direction: column-reverse;
    }

    br {
        display: none;
    }

    .biography-content-block h2::before {
        content: "—";
    }

    .biography-title {
        font-family: Playfair Display;
        font-size: 64px;
        font-weight: 400;
        line-height: 85.31px;
        text-align: left;

    }

    .biography-list {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: left;
        flex-direction: column;
    }

    ul {
        list-style: none;
    }

    .biography-list li:nth-child(n+1):before {
        content: "—";
        position: relative;
        left: -5px;
    }

    .biography-text {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: left;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        padding-left: 18px;

    }

    .biography-blockquote {
        padding-top: 164px;
        font-family: Bitter;
        font-size: 30px;
        font-weight: 300;
        line-height: 36px;
        text-align: left;

    }
}